url: "https://fundkorb.de"
baseurl: ""
title: "Fundkorb"
lang: de_DE
timezone: Europe/Berlin
mail:
  contact: kontakt@fundkorb.de
  signup: anmeldung@fundkorb.de

upload_dir: "bilder/"

collections:
  pilze:
    output: true
    permalink: /pilze/:name
  verwandtschaften:
    output: true
    permalink: /verwandt/:name
  artikel:
    output: true
  rezepte:
    output: true
  archiv:
    output: false
  pages:
    output: true
  termine:
    output: false
  quiz:
    output: false
  glossar:
    output: false
  archiv:
    output: false

defaults:
  -
    scope:
      type: "pilze"
    values:
      layout: "pilz"
      navi: "/pilze"
  - 
    scope:
      type: "verwandtschaften"
    values:
      layout: "verwandtschaft"
      navi: "/pilze"
  -
    scope:
      type: "rezepte"
    values:
      layout: "artikel"
      navi: "/rezepte"
  -
    scope:
      type: "pages"
    values:
      layout: "page"
      sidebar: true
  -
    scope:
      type: "artikel"
    values:
      layout: "artikel"
      navi: "/artikel"

exclude:
  - Gemfile
  - Gemfile.lock
  - gemset.nix
  - vendor
  - LICENSE
  - README.md
  - package.json
  - Gruntfile.js
  - node_modules
  - workbench
