<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180686685-1"></script>
<script>
 // window['ga-disable-UA-180686685-1'] = true;
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'analytics_storage': 'denied'
  });
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-180686685-1', { 'anonymize_ip': true,
                                          'allow_google_signals': false});
</script>
