<form id="anmeldeform-{{ include.termin.slug }}" class="collapse needs-valdation mt-4" action="https://formsubmit.co/{{ site.mail.signup }}" method="POST">
  <input type="hidden" name="_template" value="box">
  <input type="hidden" name="_subject" value='Neue Anmeldung: {{include.termin.aktivitaet}}))"'>
  <input type="hidden" name="_next" value="https://fundkorb.de/danke_anmeldung">
  <input type="hidden" name="Anmeldung zur Veranstaltung" value="{{ include.termin.aktivitaet }} am {{ include.datum }} um {{ include.uhrzeit }}">
  <div class="row">
    <div class="col-sm-4 col-md-3 form-group">
      <input type="number" id="anzahl" name="Anzahl Personen" class="form-control" min="1" max="8" value="1"/>
      <label for="anzahl">Anzahl Personen<span class="text-danger">*</span></label>
    </div>
    <div class="col-sm-8 col-md-9 form-group">
        <input type="text" id="namen" name="Name_n" class="form-control" required>
        <label for="namen">Name(n)<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6 form-group">
      <input type="email" id="email" name="email" class="form-control" required>
      <label for="email">E-Mail (für die Anmeldebestätigung)<span class="text-danger">*</span></label>
    </div>
    <div class="col-md-6 form-group">
      <input type="tel" id="tel" name="Telefon" class="form-control">
      <label for="tel">Telefon (nach Möglichkeit mobil)</label>
    </div>
    <!-- <div class="col-md-12"> -->
    <!--   <div class="md-form"> -->
    <!--     <textarea type="text" id="message" name="Fragen und Anmerkungen" rows="2" class="form-control md-textarea"></textarea> -->
    <!--     <label for="message">Platz für Ihre Fragen und Anmerkungen</label> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
  <div class="text-center text-md-left d-flex flex-wrap align-items-center justify-content-between">
    <input class="btn btn-success" type="submit" value="Anmeldung absenden" /><label><span class="text-danger">*)</span> Erforderliche Angaben</label>
  </div>
</form>
