<section id="artikelliste">

{% assign artikel = site.artikel | reverse %}
{% for artikel in artikel %}
<div class="artikel">
  <h2><a href="{{ artikel.url |relative_url}}">{{ artikel.titel }}</a></h2>
  {% if artikel.vorschaubild %}
  <div class="vorschaubild {% cycle "float-left mr-3", "float-right ml-3" %} mb-3">
    <a href="{{ artikel.url | relative_url}}">
      <img src="{{ artikel.vorschaubild | prepend: site.upload_dir | relative_url }}" />
    </a>
  </div>
  {% endif %}
  {% if artikel.author %}<p class="author">von {{artikel.author}}</p>{% endif %}
  <p>{{ artikel.excerpt }}</p>
  <a href="{{ artikel.url |relative_url}}">Mehr lesen</a>
</div>
{% endfor %}

</section>
