<div class="blaettern{% if include.oben %} d-none d-md-flex{% endif %}">
  <div class="zurueck">
  {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}"><i class="fas fa-arrow-left"></i></a>
    <a href="{{ page.previous.url | relative_url }}">{{ page.previous.beschreibung.wissenschaftlich }}</a>
  {% endif %}
  </div>
  {% if include.suche %}
  <div class="pilzsuche-klein">
    <input class="form-control form-control-sm" id="sucheingabe" placeholder="Pilzsuche" aria-label="Pilzsuche" />
    <div class="ergebniscontainer"><ul id="suchergebnisse"></ul></div>
  </div>
  {% else %}
  <div class="index">
    <a href="{% link _pages/20_pilze.md %}">Index</a>
  </div>
  {% endif %}
  <div class="vorwaerts">
  {% if page.next %}
    <div><a href="{{ page.next.url | relative_url }}">{{ page.next.beschreibung.wissenschaftlich }}</a></div>
    <div><a href="{{ page.next.url | relative_url }}"><i class="fas fa-arrow-right"></i></a></div>
  {% endif %}
  </div>
</div>
