<div class="text-center">
  <a href="#"><img src="{{ "/assets/img/basket.png" | relative_url }}" width=150 /></a>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="nav-center d-flex justify-content-center align-items-center">
    <a href="#" class="navbar-brand">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ "/" | relative_url }}">Startseite <span class="sr-only">(aktiv)</span></a>
      <a class="nav-item nav-link" href="{{ "/termine/" | relative_url }}">Termine</a>
      <a class="nav-item nav-link" href="{{ "/artikel/" | relative_url }}">Artikel</a>
      <a class="nav-item nav-link" href="{{ "/pilze/"   | relative_url }}">Pilzporträts</a>
      <a class="nav-item nav-link" href="{{ "/kontakt/" | relative_url }}">Kontakt</a>
    </div>
  </div>
</nav>
