<section id="pilzliste">

{% assign index = site.pilze | group_by_exp: "pilz", "pilz.beschreibung.wissenschaftlich | slice: 0 | upcase" %}

<div class="rollerdex">
{% for letter in index %}
  <a class="btn btn-lg{% unless forloop.first==true %} collapsed{% endunless %}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="{{letter.name}}" href="#{{letter.name}}">{{letter.name}}</a>
{% endfor %}
</div>

{% for letter in index %}
  <div id="{{ letter.name }}" class="buchstabe collapse{% if forloop.first==true %} show{% endif %}" data-parent="#pilzliste">
    <div>
    {% for pilz in letter.items %}
      <p>
        <a id="{{ pilz.slug }}" href="{{ pilz.url | relative_url}}">
          {{ pilz.beschreibung.wissenschaftlich }}{% if pilz.beschreibung.deutsch and pilz.beschreibung.deutsch != "" %} ({{ pilz.beschreibung.deutsch }}){%endif%}
        </a>
      </p>
  {% endfor %}
  </div>
  </div>
{% endfor %}
</section>
