.abbildung {
  text-align: center;
  width: 100%;
}

.abbildung figure {
  background-color: $figure-background;
  display: table;
  margin: 1rem auto;
  max-width: 100%;
  padding: 5px 5px 0 0;
}

.abbildung .bilder {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.abbildung .bild {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 280px;
  padding: 5px;
  margin: -5px -5px 0 0;
  max-height: 98vh;
}


.abbildung .bildumschlag {
  flex: 1 1 auto;
  text-align: center;
}

.abbildung.klein .bild {
  flex: 1 1 200px;
  text-align: center;
}

.abbildung.klein .bildumschlag {
  max-height: 350px;
  max-width: 350px;
}

.abbildung .unterschrift {
  flex: 0 0 auto;
  padding: 3px;
  color: $light;
  background-color: fade-out($black, .3);
  font-size: 0.8em;
}


.abbildung .bild.gross {
  flex: 1 1 100%;
}

.abbildung figcaption {
  display: table-caption;
  background-color: $figure-background;
  caption-side:bottom;
  padding: 0 8px 5px 8px;
  font-size: 0.8em;
}

.abbildung img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abbildung .bild.nocrop img {
  object-fit: contain;
}

@media (min-width: 576px) {
  .abbildung.fliessend {
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    width: auto;
  }

  .abbildung.fliessend figure {
    width: auto;
    max-width: 100%;
    margin: 0;
    clear: both;
  }

  .abbildung.fliessend img {
    max-height: 350px;
    max-width: 350px;
  }
}

.thumb {
  display: block;
}

.thumb img {
  height: 120px;
  width: 120px;
  background-color: $shadow;
  object-fit: cover;
}

#pilzliste .tooltip-inner {
    max-width: 100%;
}

.tooltip-inner {
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}

.glossar {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: $primary;
}

.table {
  background-color: $figure-background;
  margin: 1rem auto;
}

.table thead th, .table th, .table td {
  border-color: $light;
}
