.abbildung {
  text-align: center;
  width: 100%;
  margin: 1rem auto;
}

.abbildung figure {
  background-color: $figure-background;
  display: inline-table;
  max-width: 100%;
  padding: 5px 5px 0 0;
}

.abbildung figcaption {
  display: table-caption;
  background-color: $figure-background;
  caption-side: bottom;
  padding: 0 8px 5px 8px;
  font-size: 0.8em;
}

.abbildung .bilder {
  display: inline-block;
}

.abbildung .bild {
  padding: 0 0 5px 5px;
  display: inline-block;
}

.abbildung img {
  max-width: 100%;
  height: auto;
  max-height: 98vh !important;
}

.abbildung .bild.gross {
  flex-base: 100%;
  height: auto;
}
.abbildung .bild.gross img {
  width: 100%;
  height: auto;
}

.abbildung .bild .modal {
  display: none;
  position: fixed;
  padding: 10px;
  background-color: fade-out($black, 0.2);
}

.abbildung .bild .modal .close {
  color: $white;
  opacity: 0.9;
}

.abbildung .bild .modal img {
  object-fit: contain;
  height: auto;
  width: auto;
}

@media (min-width: 576px) {
  .abbildung.mittel .bild {
    flex-shrink: 1;
    flex-grow: 1;
  }
  .abbildung.klein .bild{
    flex-shrink: 1;
    flex-grow: 1;
  }
  .abbildung.mittel img {
    height: 300px;
    width: auto;
    object-fit: cover;
  }
  .abbildung.klein img {
    height: 200px;
    width: auto;
    object-fit: cover;
  }
  .abbildung.mittel .bilder,
  .abbildung.klein .bilder {
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    align-items: top;
    width:auto;
  }

  .abbildung .bild.nocrop img {
    object-fit: contain;
  }

  .abbildung.fliessend {
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    width: auto;
  }

  .abbildung.fliessend figure {
    width: auto;
    max-width: 100%;
    margin: 0;
    clear: both;
  }

  .abbildung.fliessend img {
    max-height: 350px;
    max-width: 350px;
  }
}

#pilzliste .tooltip-inner {
    max-width: 100%;
}

.tooltip-inner {
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}

.glossar {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: $primary;
}

.table {
  background-color: $figure-background;
  margin: 1rem auto;
}

.table thead th, .table th, .table td {
  border-color: $light;
}

