.nabbildung {
  text-align: center;
  width: 100%;
}

.nabbildung figure {
  background-color: $figure-background;
  display: inline-table;
  margin: 1rem auto;
  max-width: 100%;
  padding: 5px 5px 0 0;
}

.nabbildung figcaption {
  display: table-caption;
  background-color: $figure-background;
  caption-side: bottom;
  padding: 0 8px 5px 8px;
  font-size: 0.8em;
}

.nabbildung .bilder {
  display: inline-block;
}

.nabbildung .bild {
  padding: 0 0 5px 5px;
  display: inline-block;
}

.nabbildung img {
  max-width: 100%;
  height: auto;
  max-height: 98vh !important;
}

.nabbildung .bild.gross {
  flex-base: 100%;
}
.nabbildung .bild.gross img {
  width: 100%;
  height: auto;
}

.nabbildung.mittel .bilder,
.nabbildung.klein .bilder {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: top;
}

.nabbildung.klein .bild {
  flex: 1 1 220px;
}

.nabbildung.mittel .bild {
  flex: 1 1 280px;
}

.nabbildung.mittel img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.nabbildung.klein img {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.nabbildung .bild.nocrop img {
  object-fit: contain;
}

.nabbildung .unterschrift {
  display: table-caption;
  caption-side: bottom;
}

@media (min-width: 576px) {
  .nabbildung.fliessend {
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    width: auto;
  }

  .nabbildung.fliessend figure {
    width: auto;
    max-width: 100%;
    margin: 0;
    clear: both;
  }

  .nabbildung.fliessend img {
    max-height: 350px;
    max-width: 350px;
  }
}

.thumb {
  display: block;
}

.thumb img {
  height: 120px;
  width: 120px;
  background-color: $shadow;
  object-fit: cover;
}

#pilzliste .tooltip-inner {
    max-width: 100%;
}

.tooltip-inner {
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}

.glossar {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: $primary;
}

.table {
  background-color: $figure-background;
  margin: 1rem auto;
}

.table thead th, .table th, .table td {
  border-color: $light;
}
