#navigation.navbar-expand-sm {
  justify-content: center;
  display: inline-flex;
  flex-flow: row wrap;
}

#navigation .navbar-logo {
  flex-basis: auto;
  text-align: center;
  padding: 0 0.3em 0 0.3em;
}

#navigation .navbar-logo > img {
  height: 5em;
  width: 5em;
  object-fit: contain;
}

#navigation .navbar-brand {
  font-family: Rancho, cursive;
  padding: 0;
  margin: 0;
  font-size: 3.8em;
  text-shadow: 1.5px 1.5px 2px $shadow;
  line-height: 1.1em;
}

#navigation.navbar-light .navbar-brand {
  color: $primary;
}

#navigation.navbar-light .navbar-brand:hover {
  color: darken($primary, 10);
}

#navigation.navbar .navbar-toggler {
  border-color: $navbar-light-color;
  margin: 1rem; 
}

#navigation.navbar-expand-sm .navbar-nav .nav-item {
  text-align: center;
  font-size: 1.2em;
  padding: 0.5rem;
  padding-top: 0;
}

#navigation.navbar-expand-sm .navbar-nav .nav-item:hover {
  text-decoration: underline;
}

#navigation.navbar-expand-sm .navbar-nav .nav-item.active {
  text-shadow: 1px 1px 1px $shadow;
  text-decoration: none !important;
}

#navigation.navbar .navbar-collapse {
  justify-content: center;
}

@media (min-width: 576px) {
  #navigation.navbar-expand-sm .navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  #navigation .navbar-logo {
    flex-basis: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #navigation .navbar-logo > img {
    height: 7em;
    width: 7em;
    object-fit: contain;
  }
  #navigation .navbar-brand {
    font-size: 4.6em;
    line-height: 1.2em;
  }
}

@media (min-width: 992px) {
  #navigation .navbar-logo > img {
    height: 10em;
    width: 10em;
    object-fit: contain;
  }
  #navigation.navbar {
    flex-flow: column;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
  }
  #navigation .navbar-logo {
    text-align: center;
    margin: 0;
  }
  #navigation .navbar-brand {
    text-align: center;
    font-size: 3.8em;
    line-height: 1.6em;
  }
  #navigation.navbar-expand-sm .navbar-nav {
    flex-direction: column;
    flex-wrap: none;
  }
  #navigation.navbar-expand-sm .navbar-nav .nav-item {
    text-align: left;
    font-size: 1.4em;
    padding: 0 5rem 0.5rem 5rem;
  }
  #navigation.navbar .navbar-collapse {
    flex-flow: column;
    justify-content: start;
    align-items: center;
  }
}

