html {
  height: 100%;
  background-color: $light;
}

body {
  min-height: 100vh;
  background-color: $light;
}

.container {
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  overflow: hidden;
}

article, .navbar {
  padding: 1rem;
}

article {
  @include clearfix;
}

.footer {
  flex: 0 0 100%;
  text-align: center;
  padding-top: 0.5rem;
}

@media (min-width: 992px) {
  html {
    background-color: $dark;
  }
  body {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.4)
        ),
        url('#{$asset_dir}/img/wald.jpg') no-repeat center fixed;
    background-attachment: fixed;
    background-size: cover;
  }
  .container {
    box-shadow: 0 0 2rem 0 $black;
    background: $light;
    padding-top: 3rem !important;
  }
  article {
    padding-right: 5rem !important;
    padding-left: 0 !important;
  }
}
