
#pilz h1 {
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  #pilz h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
}

#pilz .anfang {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-between;
}

#pilz .anfang > div {
  margin: 0.5rem 0;
}


#pilz .autor_in {
  color: $muted;
}

#pilz .referenz {
  font-weight: bold;
}

#pilz h2, #pilz .aktualisiert,
#pilz .bilderrechte {
  font-style: italic;
}

#pilz .schluss {
  margin: 2rem 0;
}

#pilz .bilderrechte, #pilz .aktualisiert {
  text-align: right;
  color: $muted;
}

#pilzliste h3 {
  color: $muted;
  margin-top: 3rem;
  font-size: 3em;
}

