// Overwrite colors
$yellow: #F9C058;
$green: #10831E;
$red: #831E10;
$black: #0A030A;

// Define own colors
$forest-green: #003404;
$floral-white: #FFF9F0;
$brown: #64390C;

// Defaults
$primary: $green;
$secondary: $brown;
$light: $floral-white;
$dark: $forest-green;
$navbar-light-color: $red;
$navbar-light-hover-color: lighten($navbar-light-color, 15);
$navbar-light-active-color: $black;
$muted: fade-out($brown, 0.3) !important;
$figure-background: mix($brown, $light, 22%);
$shadow: fade-out($dark, 0.8);
$transition-collapse: height .10s ease !default;
