---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import "fonts";

$asset_dir: {{ "/assets" | relative_url }};

@import "page";
@import "navbar";
@import "typography";
@import "artikel";
@import "figures";
@import "pilze";
@import "termine";
@import "forms";
@import "quiz";
@import "suche";
