<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
  <script>
CMS.registerEditorComponent({
  id: "abbildung",
  label: "Abbildung",
  fields: [
    { 
      name: 'bilder',
      label: 'Bilder',
      label_singular: 'Bild',
      widget: 'list',
      fields: [
        {name: 'datei', label: 'Datei', widget: 'image' },
        {name: 'nocrop', label: 'Nicht beschneiden', widget: 'boolean', default: false },
        {name: 'gross', label: 'Immer gross anzeigen', widget: 'boolean', default: false }
      ]
    },
    {name: 'legende', label: 'Legende', widget: 'string', required: false, pattern: ["abc", "Keine Anführungszeichen!"]},
    {name: 'stil',
     label: 'Anzeigestil',
     widget: 'select',
     default: 'standard',
     options: [
               {label: 'Originalgröße', value: 'standard'},
               {label: 'mittel (zwei nebeneinander)', value: 'mittel'},
               {label: 'klein (drei nebeneinander)', value: 'klein'},
               {label: 'fließend (klein)', value: 'fliessend'},
     ]}],
  pattern: /^ *\{% *include +abbildung_start.html(?: +stil *= *"([^"]*)")? *%\}\s*((?:\s*\{% *include +bild.html +datei *= *"[^"]*"(?: +unterschrift *= *"[^"]*")?(?: +nocrop *= *(?:true|false))?(?: +gross *= *(?:true|false))? *%\})*)\s*\{% *include +abbildung_ende.html(?: +legende *= *"([^"]*)")? *%\} *$/m,
  fromBlock: function(match) {
    mcopy = match.slice();
    var re = /\{% *include +bild.html +datei *= *"([^"]*)"(?: +unterschrift *= *"([^"]*)")?(?: +nocrop *= *(true|false))?(?: +gross *= *(true|false))? *%\}/g;
    var b = re.exec(mcopy[2]);
    var bilder = [];
    while (b != null) {
      bilder.push({datei: b[1], unterschrift: b[2], nocrop: (b[3] === "true"), gross: (b[4] === "true")});
      b = re.exec(mcopy[2]);
    }
    return {
      bilder: bilder,
      legende: mcopy[3],
      stil: mcopy [1] || "standard",
    };
  },
  toBlock: function(obj) {
    if (obj.bilder == undefined) return null;
    var bilder = obj.bilder
      .filter( x => x.datei != undefined)
      .map( bild => {
        var unterschrift = (Boolean(bild.unterschrift)) ? ' unterschrift="'+ bild.unterschrift.trim() +'"' : '';
        var nocrop = (bild.nocrop) ? ' nocrop=true' : '';
        var gross = (bild.gross) ? ' gross=true' : '';
        return '\n{% include bild.html datei="' + bild.datei + '"' + unterschrift + nocrop + gross +' %}';
      }).join("");
    var figcaption = (Boolean(obj.legende)) ? ' legende="' + obj.legende.trim() +'"' : '';
    var stil = (Boolean(obj.stil)) ? ' stil="' + obj.stil.trim() + '"' :  '';
    return '{% include abbildung_start.html' + stil + ' %}' + bilder + '\n{% include abbildung_ende.html' + figcaption + ' %}';
  },
  toPreview: function(obj) {
    var legende = (Boolean(obj.legende)) ? '\n<figcaption>' + obj.legende + '</figcaption>' : '';
    return '<div class="abbildung '+obj.stil+'">\n<figure class="figure">\n<div class="bilder">\n' + obj.bilder.map( bild => {
      var caption = (Boolean(bild.unterschrift)) ? '<div class="unterschrift">' + bild.unterschrift + '</div>' : '';
      var nocrop = (bild.nocrop) ? ' nocrop' : '';
      var gross = (bild.gross) ? ' gross' : '';
      return '<div class="bild'+ nocrop + gross +'"><div class="bildumschlag"><img src="' + bild.datei + '"></div>'+ caption +'</div>';
    }).join('\n') + '\n</div>' + legende + '\n</figure>\n</div>';
  }
});
CMS.registerPreviewStyle("/admin/preview.css");
</script>
</body>
</html>
