---
---
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <title>{{ page.title }} - {{ site.title }}</title>
  </head>
  <body>
    {{ content }}
    <script src="{{ "/assets/js/jquery/jquery.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap/bootstrap.bundle.js" | relative_url }}"></script>
  </body>
</html>
