---
layout: base
---

{% if page.profil.erstellt %}
{% capture erstellt %}
{{ page.profil.erstellt | date: "%-d." }}
{% assign m = page.profil.erstellt | date: "%-m" | minus: 1 %}
{{ site.data.monate[m] }}
{{ page.profil.erstellt | date: "%Y" }}
{% endcapture %}
{% endif %}

{% if page.profil.aktualisiert %}
{% capture aktualisiert %}
{{ page.profil.aktualisiert | date: "%-d." }}
{% assign m = page.profil.aktualisiert | date: "%-m" | minus: 1 %}
{{ site.data.monate[m] }}
{{ page.profil.aktualisiert | date: "%Y" }}
{% endcapture %}
{% endif %}

{% include blaettern.html %}

<section id="pilz">

<h1>{{ page.name.wissenschaftlich }}</h1>

{% if page.name.deutsch %}<h2>{{ page.name.deutsch }}</h2>{% endif %}

<div class="anfang">
  {% if page.beschreibung.familie or page.beschreibung.referenz %}
  <div>
    {% if page.beschreibung.referenz %}<div class="referenz">{{ page.beschreibung.referenz }}</div>{% endif %}
    {% if page.beschreibung.familie %}<div class="familie">Familie: {{ page.beschreibung.familie }}</div>{% endif %}
  </div>
  {% endif %}

  {% if page.name.erlaeuterung or page.name.synonym %}
  <div>
    {% if page.name.erlaeuterung %}<div class="erlaeuterung">{{ page.name.erlaeuterung }}</div>{% endif %}
    {% if page.name.synonym %}<div class="synonym">Synonym: {{ page.name.synonym }}</div>{% endif %}
  </div>
  {% endif %}

  {% if page.profil.autor_in or erstellt %}
  <div>
    {% if page.profil.autor_in %}<div class="autor_in">von {{ page.profil.autor_in }}</div>{% endif %}
    {% if erstellt %}<div class="erstellt">{{ erstellt }}</div>{% endif %}
  </div>
  {% endif %}
</div>

{{ content }}

{% if page.profil.literatur %}
<h4>Weiterführende Literatur:</h4>

<ul>
{% for item in page.profil.literatur %}
<li>
  {% if item.url %}<a href="{{ item.url }}">{% endif %}
    {% if item.text %}{{ item.text }}{% else %}{{ item.url }}{% endif %}
  {% if item.url %}</a>{% endif %}
</li>
{% endfor %}
</ul> 
{% endif %}

<div class="schluss">
  {% if page.profil.autor_in %}
    <div class="bilderrechte">Alle Fotos, wenn nicht anders angegeben, von {{ page.profil.autor_in }}.</div>
  {% endif %}
  {% if aktualisiert %}
    <div class="aktualisiert">Zuletzt aktualisiert am {{ aktualisiert }}</div>
  {% endif %}
</div>
</pilz>
</section>

{% include blaettern.html %}
