---
layout: base
---

{% if page.aktualisiert %}
{% capture aktualisiert %}
{{ page.aktualisiert | date: "%-d." }}
{% assign m = page.aktualisiert | date: "%-m" | minus: 1 %}
{{ site.data.monate[m] }}
{{ page.aktualisiert | date: "%Y" }}
{% endcapture %}
{% endif %}

<section id="verwandt">

<h1>{{ page.titel }}</h1>

{% if page.synonym %}<h2>{{ page.synonym }}</h2>{% endif %}

<div class="anfang">
{% if page.autor_in %}<div class="autor_in">von {{ page.autor_in }}</div>{% endif %}
</div>

{% if page.hauptbild.anzeige and page.hauptbild.datei %}
  {% include abbildung_start.html stil="profilbild" %}
  {% include bild.html datei=page.hauptbild.datei nocrop=true %}
  {% include abbildung_ende.html legende=page.hauptbild.legende %}
{% endif %}

{{ content }}

{% if page.literatur %}
{% capture lit %}{{ page.literatur | size | minus:1 }}{% endcapture %}
{% unless lit contains '-' %}
<h3>Weiterführende Literatur:</h3>

<ul>
{% for item in page.literatur %}
<li>
  {% if item.url and item.url != "" %}<a href="{{ item.url }}">{% endif %}
    {% if item.text and item.text != "" %}{{ item.text }}{% else %}{{ item.url }}{% endif %}
  {% if item.url and item.url != "" %}</a>{% endif %}
</li>
{% endfor %}
</ul> 
{% endunless %}
{% endif %}

<div class="schluss">
  {% if page.autor_in %}
    <div class="bilderrechte">Alle Fotos, wenn nicht anders angegeben, von {{ page.autor_in }}.</div>
  {% endif %}
  {% if aktualisiert %}
    <div class="aktualisiert">Zuletzt aktualisiert am {{ aktualisiert }}</div>
  {% endif %}
</div>
</pilz>
</section>
